<!--Authors: Reed Stewart, Colin Gubler, Stephanie Del-Pesce, Evan Carter, Benjamin Clements, Perla Valdovinos-->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="..styles/stylesheet.csss"/>

    <title>JSON Table</title>
  </head>
  <body>
    <h1>Hello</h1>
    <!--Info from Benjamin-->
    <h2>PSA: LEARN the signs of HUMAN TRAFFICKING</h2>
    <iframe
      width="560"
      height="315"
      src="https://www.youtube.com/embed/TQFQqU3O9GM"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
    <!--Info from Evan-->


    <!--Reed stuff-->
    <div class="mx-auto">
    <div class="accordion accordion-flush" id="accordionFlushExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingOne">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
            Myth #1: Human trafficking does not occur in the United States. It only happens in other countries.          </button>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">Fact: Human trafficking exists in every country, including the United States. It exists nationwide–in cities, suburbs, and rural towns–and probably in your own community.</div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingTwo">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
            Myth #2: Human trafficking victims are only foreign-born individuals and those who are poor.
          </button>
        </h2>
        <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">Fact: Human trafficking victims can be any age, race, gender, or nationality: young children, teenagers, women, men, runaways, United States citizens, and foreign-born individuals.</div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingThree">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
            Myth #3: Human trafficking is only sex trafficking.
          </button>
        </h2>
        <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">Fact: You may have heard about sex trafficking, but forced labor is also a significant and prevalent type of human trafficking. Victims are found in legitimate and illegitimate labor industries, including sweatshops, massage parlors, agriculture, restaurants, hotels, and domestic service. Note that sex trafficking and forced labor are both forms of human trafficking, involving the exploitation of a person.</div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingOne">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
            Myth #4: Individuals must be forced or coerced into commercial sex acts to be a victim of human trafficking.
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">Fact: According to U.S. federal law, any minor under the age of 18 who is induced to perform commercial sex acts is a victim of human trafficking, regardless of whether he or she is forced or coerced.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingTwo">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
            Myth #5: Human trafficking and human smuggling are the same.
          </button>
        </h2>
        <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">Fact: Human trafficking is not the same as smuggling. “Trafficking” is exploitation-based and does not require movement across borders. “Smuggling” is movement-based and involves moving a person across a country’s border with that person’s consent, in violation of immigration laws.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingThree">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
            Myth #6: All human trafficking victims attempt to seek help when in public.
          </button>
        </h2>
        <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">Fact: Human trafficking is often a hidden crime. Victims may be afraid to come forward and get help; they may be forced or coerced through threats or violence; they may fear retribution from traffickers, including danger to their families; and they may not be in possession or have control of the identification documents.
          </div>
        </div>
      </div>
    </div>
  </div>
    <table class="table table-bordered table-hover table-condensed">
      <thead>
        <tr>
          <th title="Field #1">Date Missing</th>
          <th title="Field #2">Last Name</th>
          <th title="Field #3">First Name</th>
          <th title="Field #4">Age at Missing</th>
          <th title="Field #5">City</th>
          <th title="Field #6">State</th>
          <th title="Field #7">Gender</th>
          <th title="Field #8">Race</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>10/30/2009</td>
          <td>Sharmarice</td>
          <td>Halima</td>
          <td align="center">14</td>
          <td>Granger</td>
          <td>UT</td>
          <td>F</td>
          <td>W</td>
        </tr>
        <tr>
          <td>10/16/2015</td>
          <td>Martinez</td>
          <td>Kimberly</td>
          <td align="center">16</td>
          <td>West Valley City</td>
          <td>UT</td>
          <td>F</td>
          <td>M</td>
        </tr>
        <tr>
          <td>07/23/2004</td>
          <td>Gomez</td>
          <td>Brenda</td>
          <td align="center">3</td>
          <td>Logan</td>
          <td>UT</td>
          <td>F</td>
          <td>H</td>
        </tr>
        <tr>
          <td>05/25/2003</td>
          <td>Bishop</td>
          <td>Acacia</td>
          <td align="center">1</td>
          <td>Salt Lake City</td>
          <td>UT</td>
          <td>F</td>
          <td>W</td>
        </tr>
        <tr>
          <td>08/03/2020</td>
          <td>Salazar</td>
          <td>Maria</td>
          <td align="center">14</td>
          <td>Snowville</td>
          <td>UT</td>
          <td>F</td>
          <td>H</td>
        </tr>
        <tr>
          <td>04/09/2020</td>
          <td>Hernandez-Soto</td>
          <td>Peggy</td>
          <td align="center">6</td>
          <td>Ogden</td>
          <td>UT</td>
          <td>F</td>
          <td>H</td>
        </tr>
        <tr>
          <td>06/24/2021</td>
          <td>Jimenez</td>
          <td>Lucero</td>
          <td align="center">14</td>
          <td>West Valley City</td>
          <td>UT</td>
          <td>F</td>
          <td>H</td>
        </tr>
        <tr>
          <td>11/08/2013</td>
          <td>Colindres-Avila</td>
          <td>Yuris</td>
          <td align="center">17</td>
          <td>West Valley City</td>
          <td>UT</td>
          <td>F</td>
          <td>M</td>
        </tr>
        <tr>
          <td>07/15/2021</td>
          <td>Harris</td>
          <td>Kandis</td>
          <td align="center">16</td>
          <td>Salt Lake City</td>
          <td>UT</td>
          <td>F</td>
          <td>W</td>
        </tr>
        <tr>
          <td>07/30/2006</td>
          <td>Seal</td>
          <td>Jaydan</td>
          <td align="center">1</td>
          <td>Garleys Wash</td>
          <td>UT</td>
          <td>M</td>
          <td>W</td>
        </tr>
        <tr>
          <td>06/13/2018</td>
          <td>Lizarraga</td>
          <td>Jose</td>
          <td align="center">13</td>
          <td>West Valley City</td>
          <td>UT</td>
          <td>M</td>
          <td>H</td>
        </tr>
        <tr>
          <td>04/23/2020</td>
          <td>Cortez Trujillo</td>
          <td>Eztli</td>
          <td align="center">21</td>
          <td>North Ogden</td>
          <td>UT</td>
          <td>M</td>
          <td>H</td>
        </tr>
        <tr>
          <td>10/25/2017</td>
          <td>Fowles</td>
          <td>Juan</td>
          <td align="center">15</td>
          <td>Lehi</td>
          <td>UT</td>
          <td>M</td>
          <td>M</td>
        </tr>
        <tr>
          <td>08/20/2012</td>
          <td>Garcia</td>
          <td>Isai</td>
          <td align="center">17</td>
          <td>West Valley City</td>
          <td>UT</td>
          <td>M</td>
          <td>M</td>
        </tr>
        <tr>
          <td>09/01/2015</td>
          <td>Smith</td>
          <td>Macin</td>
          <td align="center">17</td>
          <td>St. George</td>
          <td>UT</td>
          <td>M</td>
          <td>W</td>
        </tr>
        <tr>
          <td>01/26/2006</td>
          <td>Sisco-Ramirez</td>
          <td>Jose</td>
          <td align="center">4</td>
          <td>West Valley City</td>
          <td>UT</td>
          <td>M</td>
          <td>M</td>
        </tr>
      </tbody>
    </table>
    <!--Reed input-->
    <a href=https://www.facebook.com/byuantihumantrafficking/>Join BYU's AHTC Here</a>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
