<!--Authors: Reed Stewart, Colin Gubler, Stephanie Del-Pesce, Evan Carter, Benjamin Clements, Perla Valdovinos-->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      body {background-color: powderblue;}
      h1   {color: blue;}
      p    {padding:5px;}
      div  {padding:5px;}
      td   {text-align: center; font size: 5px;}
      </style>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <title>Utah Trafficking</title>
  </head>

  <body>
    <div>
      <img src="https://dps.mo.gov/human-trafficking/img/human-trafficking-banner.jpg" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb KAlRDb" alt="Stop Human Trafficking in Missouri - Department of Public Safety" data-noaft="1" style="width:100% ;height:300px ;margin: 0px;">
    </div>
    
    <h1 align="center">Welcome to the BYU Anti-Trafficking Info Page</h1>

    <div>
      <p>Missing person cases can often be linked to human trafficking. Currently, human trafficking exists and operates in Utah. Only together can we hinder and eventually stop this cruel slavery of innocent people. Please do your part in educating yourself. The information on this site is meant to help you know what human trafficking is, how to recognize it, and what to do when you find it.</p>
    </div>
    <!--Info from Evan-->


    <!--Reed stuff-->
    <br>
    <br>
    <h3 class="display-6">Have you heard these myths? Click on each to find out the truth:</h3>
    <div class="mx-auto">
    <div class="accordion accordion-flush" id="accordionFlushExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingOne">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
            Myth #1: Human trafficking does not occur in the United States. It only happens in other countries.          </button>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">Fact: Human trafficking exists in every country, including the United States. It exists nationwide–in cities, suburbs, and rural towns–and probably in your own community.</div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingTwo">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
            Myth #2: Human trafficking victims are only foreign-born individuals and those who are poor.
          </button>
        </h2>
        <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">Fact: Human trafficking victims can be any age, race, gender, or nationality: young children, teenagers, women, men, runaways, United States citizens, and foreign-born individuals.</div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingThree">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
            Myth #3: Human trafficking is only sex trafficking.
          </button>
        </h2>
        <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">Fact: You may have heard about sex trafficking, but forced labor is also a significant and prevalent type of human trafficking. Victims are found in legitimate and illegitimate labor industries, including sweatshops, massage parlors, agriculture, restaurants, hotels, and domestic service. Note that sex trafficking and forced labor are both forms of human trafficking, involving the exploitation of a person.</div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingFour">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
            Myth #4: Individuals must be forced or coerced into commercial sex acts to be a victim of human trafficking.
        </h2>
        <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">Fact: According to U.S. federal law, any minor under the age of 18 who is induced to perform commercial sex acts is a victim of human trafficking, regardless of whether he or she is forced or coerced.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingFive">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
            Myth #5: Human trafficking and human smuggling are the same.
          </button>
        </h2>
        <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">Fact: Human trafficking is not the same as smuggling. “Trafficking” is exploitation-based and does not require movement across borders. “Smuggling” is movement-based and involves moving a person across a country’s border with that person’s consent, in violation of immigration laws.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingSix">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
            Myth #6: All human trafficking victims attempt to seek help when in public.
          </button>
        </h2>
        <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">Fact: Human trafficking is often a hidden crime. Victims may be afraid to come forward and get help; they may be forced or coerced through threats or violence; they may fear retribution from traffickers, including danger to their families; and they may not be in possession or have control of the identification documents.
          </div>
        </div>
      </div>
    </div>
  </div>

  <br>
  <br>
  <div>
    <!--Info from Benjamin-->
    <p class="display-6" style="font-size:200%"> Want to know how to recognize human trafficking? Watch the video below for more information. </p>
    <h5>PSA: LEARN the signs of HUMAN TRAFFICKING</h2>
  </div>
    <div>
    <iframe
      width="560"
      height="315"
      src="https://www.youtube.com/embed/TQFQqU3O9GM"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
    </div>
    <br>
    <br>

  <div>
    <h3 class="display-6"> Help the efforts!</h3>
    <h6> Over 50% of identified girl victims are aged between 15 and 17 while about 40% of trafficked boys are under 12 years of age. Although every person, no matter age, it important, this project will only use those statistics for providing JSON data Missing Persons Cases Found ages 0 to 27 in the state of Utah.</h6>
    <h4> The table below shows information for current missing persons in Utah age 0 to 27.</h4>
    <br>
  </div>
    <table class="table table-bordered table-hover table-condensed" style="font-size:100%">
      <thead>
        <tr class="text-center">
          <th title="Field #1">Date Missing</th>
          <th title="Field #2">Last Name</th>
          <th title="Field #3">First Name</th>
          <th title="Field #4">Age at Missing</th>
          <th title="Field #5">City</th>
          <th title="Field #6">State</th>
          <th title="Field #7">Gender</th>
          <th title="Field #8">Race</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>10/30/2009</td>
          <td>Sharmarice</td>
          <td>Halima</td>
          <td align="center">14</td>
          <td>Granger</td>
          <td>UT</td>
          <td>F</td>
          <td>W</td>
        </tr>
        <tr>
          <td>10/16/2015</td>
          <td>Martinez</td>
          <td>Kimberly</td>
          <td align="center">16</td>
          <td>West Valley City</td>
          <td>UT</td>
          <td>F</td>
          <td>M</td>
        </tr>
        <tr>
          <td>07/23/2004</td>
          <td>Gomez</td>
          <td>Brenda</td>
          <td align="center">3</td>
          <td>Logan</td>
          <td>UT</td>
          <td>F</td>
          <td>H</td>
        </tr>
        <tr>
          <td>05/25/2003</td>
          <td>Bishop</td>
          <td>Acacia</td>
          <td align="center">1</td>
          <td>Salt Lake City</td>
          <td>UT</td>
          <td>F</td>
          <td>W</td>
        </tr>
        <tr>
          <td>08/03/2020</td>
          <td>Salazar</td>
          <td>Maria</td>
          <td align="center">14</td>
          <td>Snowville</td>
          <td>UT</td>
          <td>F</td>
          <td>H</td>
        </tr>
        <tr>
          <td>04/09/2020</td>
          <td>Hernandez-Soto</td>
          <td>Peggy</td>
          <td align="center">6</td>
          <td>Ogden</td>
          <td>UT</td>
          <td>F</td>
          <td>H</td>
        </tr>
        <tr>
          <td>06/24/2021</td>
          <td>Jimenez</td>
          <td>Lucero</td>
          <td align="center">14</td>
          <td>West Valley City</td>
          <td>UT</td>
          <td>F</td>
          <td>H</td>
        </tr>
        <tr>
          <td>11/08/2013</td>
          <td>Colindres-Avila</td>
          <td>Yuris</td>
          <td align="center">17</td>
          <td>West Valley City</td>
          <td>UT</td>
          <td>F</td>
          <td>M</td>
        </tr>
        <tr>
          <td>07/15/2021</td>
          <td>Harris</td>
          <td>Kandis</td>
          <td align="center">16</td>
          <td>Salt Lake City</td>
          <td>UT</td>
          <td>F</td>
          <td>W</td>
        </tr>
        <tr>
          <td>07/30/2006</td>
          <td>Seal</td>
          <td>Jaydan</td>
          <td align="center">1</td>
          <td>Garleys Wash</td>
          <td>UT</td>
          <td>M</td>
          <td>W</td>
        </tr>
        <tr>
          <td>06/13/2018</td>
          <td>Lizarraga</td>
          <td>Jose</td>
          <td align="center">13</td>
          <td>West Valley City</td>
          <td>UT</td>
          <td>M</td>
          <td>H</td>
        </tr>
        <tr>
          <td>04/23/2020</td>
          <td>Cortez Trujillo</td>
          <td>Eztli</td>
          <td align="center">21</td>
          <td>North Ogden</td>
          <td>UT</td>
          <td>M</td>
          <td>H</td>
        </tr>
        <tr>
          <td>10/25/2017</td>
          <td>Fowles</td>
          <td>Juan</td>
          <td align="center">15</td>
          <td>Lehi</td>
          <td>UT</td>
          <td>M</td>
          <td>M</td>
        </tr>
        <tr>
          <td>08/20/2012</td>
          <td>Garcia</td>
          <td>Isai</td>
          <td align="center">17</td>
          <td>West Valley City</td>
          <td>UT</td>
          <td>M</td>
          <td>M</td>
        </tr>
        <tr>
          <td>09/01/2015</td>
          <td>Smith</td>
          <td>Macin</td>
          <td align="center">17</td>
          <td>St. George</td>
          <td>UT</td>
          <td>M</td>
          <td>W</td>
        </tr>
        <tr>
          <td>01/26/2006</td>
          <td>Sisco-Ramirez</td>
          <td>Jose</td>
          <td align="center">4</td>
          <td>West Valley City</td>
          <td>UT</td>
          <td>M</td>
          <td>M</td>
        </tr>
      </tbody>
    </table>
    <!--Reed input-->
    <a href=https://www.facebook.com/byuantihumantrafficking/>Join BYU's AHTC Here</a>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
